@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.borderradius_six{
  border-radius: 6px !important;
}
.padding_32{
  padding: 32px;
}
.mr_16{
  margin-right: 16px;
}
.mr_24{
  margin-right: 24px;
}
.height_100vh{
  height: 100vh !important;
}
.pr_5{
  padding-right: 5px;
}
.mb_16{
  margin-bottom: 16px !important;
}
.mb_14{
  margin-bottom: 14px !important;
}
.mb_8{
  margin-bottom: 8px !important;
}
.ml_8{
  margin-left: 8px !important;
}
.mb_12{
  margin-bottom: 12px !important;
}
.mb_24{
    margin-bottom: 24px !important;
}
.mr_23{
  margin-right: 23px;
}
.mr_4{
  margin-right: 4px;
}
.mb_4{
  margin-bottom: 4px !important;
}
.mr_8{
  margin-right: 8px;
}
.m0{
  margin: 0px !important;
}
.mr_12{
  margin-right: 12px;
}
.mr_top{
  margin-top:3px;
}
.font_style{
  font: size 10%;
  font-weight: bold
}
.ml_auto{
  margin-left: auto;
}
.width_340{
  width: 340px;
}
.width_440{
  width: 440px;
}
.width_280{
width: 280px;
}
.width_316px{
  width: 316px;
}
.width_100per{
  width: 100%;
}
.DisplayFlex{
  display: flex;
}
.Desktopflex_Mobileblock{
  display: flex;
}
.Displayblock{
  display: block;
}
.AlignItem_center{
  align-items: center;
}
.justifycontent_spacebetween{
  justify-content: space-between;
}
.justifycontent_end{
  justify-content: end;
}
.textAlignright{
  text-align: right;
}
.textAligncenter{
  text-align: center;
}

// Radiobutton start
.prefer_method input[type="radio"] + label {
  position: relative;
}

.prefer_method input[type="radio"] + label::before {
  /* Outer Circle of radio button */
  border: 1px solid #B0BABF;
  background: #F6F8F9;
  content: " ";
  display: inline-block;
  margin-right: 9px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: border 0.15s ease-in-out;
  position: relative;
  top: 0px;
}

.prefer_method input[type="radio"] + label::after {
  /* Inner Circle of radio button */
  border: 0px solid #ffbb00;
  content: " ";
  background: transparent;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  left: 6px;
  top: 6px;
  transition: border 0.15s ease-in-out;
}

.prefer_method input[type="radio"] {
  display: none;
}
/* When button is active */

.prefer_method input[type="radio"]:checked + label::after {
  background: #FFFFFF;
}

.prefer_method input[type="radio"]:checked + label::before {
  border-color: #FFFFFF;
  background-color: #252C32;
}

.prefer_method input[type="radio"]:checked + label {
  color: #000;
}

// Radiobutton end

.modelScroll{
  max-height: 500px;
  overflow: auto;
}

  /* width */
  .modelScroll::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: #f4f5f7;
    border-radius:0px;
  }

  /* Handle */
  .modelScroll::-webkit-scrollbar-thumb {
    background: #D93A49;
    border-radius: 30px;
  }

  /* Handle on hover */
  .modelScroll::-webkit-scrollbar-thumb:hover {
    background: #D93A49;
  }

.input_form{
  font-family: 'Roboto', sans-serif;
  background: #FFFFFF;
  border: 1px solid #DDE2E4;
  border-radius: 6px;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #252C32;
  padding: 0px 16px;
  outline: unset;
}
.input_form::placeholder{
  color: #9AA6AC;
}

              //////////////////////////profile drop////////////////////////////////
              .dropbtn {
                background-color: #3498DB;
                color: white;
                padding: 16px;
                font-size: 16px;
                border: none;
                cursor: pointer;
              }
              
              .dropbtn:hover, .dropbtn:focus {
                background-color: #2980B9;
              }
              
              .dropdown {
                position: relative;
                display: inline-block;
              }
              
              .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                min-width: 160px;
                overflow: auto;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
              }
              
              .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
              }
              
              .dropdown a:hover {background-color: #ddd;}
              
              .show {display: block;}




     //////////////////////////profile drop////////////////////////////////



.Textinput{
  height: 24px;
  background: #FFFFFF;
  border: 1px solid #DDE2E4;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #252C32;
  outline: unset;
  padding: 4px 8px;
}
.textarea{
  background: #FFFFFF;
  border: 1px solid #DDE2E4;
  border-radius: 6px;
  height: 152px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.011em;
  color: #252C32;
  width: 100%;
  outline: unset;
  padding: 6px 12px;
}
.textarea::placeholder{
    color: #9AA6AC;
}
label{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.006em;
  text-transform: uppercase;
  color: #84919A;
  display: block;
  margin-bottom: 4px;
}
.filderDropdownoutline{
  background: #FFFFFF;
  height: 32px;
  border: 1px solid #DDE2E4;
  border-radius: 6px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #9AA6AC;
  outline: unset;
  padding: 4px 12px;
}
.btn:focus{
  box-shadow: unset;
}
.page_wrapper {
    position: relative;
    display: flex;
}
.sidebar_wrapper {
    width: 240px;
    /* height: 100%; */
    position: relative;
    background: #E5E9EB;
}
.content_wrapper {
    width: calc(100% - 240px);
    min-height: 100vh;
    display: inline-block;
    background: #FFFFFF;
}
.sidebar_logo{
  padding:24px 0px 16px 24px;
}
.sidebar_logo img{
  width: 180px;
}
.sidebar_wrapper ul{
  list-style: none;
  padding: 0px 16px;
  margin: 0px;
}
.sidebar_wrapper  ul li{
  margin-bottom: 16px;
}
.sidebar_wrapper  ul li:last-child{
  margin-bottom: 0px;
}
.sidebar_wrapper  ul li a{
  font-family: 'Roboto', sans-serif;
  text-decoration: unset;
  font-weight: 400;
  font-size: 14px;  
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #5B6871;
  padding: 4px 12px;
  border-radius: 6px;
  display: flex;
  align-items: center
}
.sidebar_wrapper  ul li a.active{
  background: #D5DADD;
  color: #252C32;
  font-weight: 500;
}
.sidebar_wrapper  ul li a.active img{
  filter: brightness(0) saturate(100%) invert(24%) sepia(4%) saturate(2236%) hue-rotate(165deg) brightness(93%) contrast(85%);
}
.sidebar_wrapper  ul li a img{
  margin-right: 13px;
}
.gray_btn{
    font-family: 'Roboto', sans-serif;
  width: 80px;
  height: 40px;
  padding: 8px 20px;
  background: #EEF0F2;
  border: 1px solid #EEF0F2;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;  
  letter-spacing: 0.006em;
  text-transform: uppercase;
  color: #B0BABF;
  border-radius: 0px;
  cursor: pointer;
}
.forgotpassword_btn{
    font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #CC0905;
  text-decoration: unset;
}
.clear_btn{
  background: #FFFFFF;
  padding: 0px 12px;
  border: 1px solid #DDE2E4;
  border-radius: 6px;
  height: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  cursor: pointer;
  color: #252C32;
  display: flex;
  align-items: center;
}
.yellow_btn{
  height: 28px;
  background: #F8C51B;
  border: 1px solid #F8C51B;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #FFFFFF;
  padding: 0px 8px;
  display: inline-block;
  cursor: pointer;
}
.yellow_btn:hover{
   background: transparent;
   color: #F8C51B;
   border: 1px solid #F8C51B;
}
.darkGray_btn{
  background-color: #252C32;
  border-radius: 6px;
  height: 40px;
  padding: 0px 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #F6F8F9;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #252C32;
}
.darkGray_btn:hover{
  background-color:transparent;
  border: 1px solid #252C32;
  color: #252C32;
}
.darkGray_btn:hover img{
  filter: brightness(0) saturate(100%) invert(0%) sepia(6%) saturate(4412%) hue-rotate(10deg) brightness(111%) contrast(105%);
}
.SmalldarkGray_btn{
  background-color: #252C32;
  border-radius: 6px;
  height: 32px;
  padding: 0px 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #F6F8F9;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #252C32;
}
.SmalldarkGray_btn:hover{
  background-color:transparent;
  border: 1px solid #252C32;
  color: #252C32;
}
.bookopen_btn{
  background: #E5E9EB;
  border:1px solid #E5E9EB;
border-radius: 6px;
width: 40px;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
}

.DarkGray28_btn{
  font-family: 'Roboto', sans-serif;
  padding: 0px 8px;
  height: 28px;
  background: #252C32;
  border: 1px solid #252C32;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em; 
  color: #FFFFFF;
}
.DarkGray28_btn:hover{
  background-color: transparent;
  color: #252C32;
  border: 1px solid #252C32;
}
.Delete_btn{
  font-family: 'Roboto', sans-serif;
  padding: 0px 12px;
  height: 32px;
  background: #8D0104;
  border: 1px solid #8D0104;
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #FFFFFF;
      display: flex;
    align-items: center;
}
.Delete_btn:hover{
  background: transparent;
  border: 1px solid #8D0104;
  color: #8D0104;
}
.Delete_btn:hover img{
  filter: brightness(0) saturate(100%) invert(14%) sepia(40%) saturate(7337%) hue-rotate(348deg) brightness(74%) contrast(113%);
}
.lightGrayborder_btn{
  padding: 0px 12px;
  /* width: 114px; */
  height: 32px;
  background: #FFFFFF;
  border: 1px solid #DDE2E4;
  border-radius: 6px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #252C32;
  cursor: pointer;
  // opacity: 0.5;
  display: flex;
  align-items: center;
}
.lightGrayborder_btn:hover{
  background: #8D0104;
  border: 1px solid #8D0104;
  color: #FFFFFF;
}
.lightGrayborder_btn:hover img{
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(360deg) brightness(104%) contrast(104%);
}
.RedButton{
  padding: 0px 8px;
  height: 28px;
  background: #CC0905;
  border: 1px solid #CC0905;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #FFFFFF;
  cursor: pointer;
}
.GreenButton{
  padding: 2px 8px;
  height: 28px;
  background: #22C348;
  border: 1px solid #22C348;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #FFFFFF;
  cursor: pointer;
}
.GreenButton:hover{
  background: transparent;
  color: #22C348;
  border: 1px solid #22C348;
}
.top_header{
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E5E9EB;
}
.page_info{
    padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E5E9EB;
}
.ActionBar{
    padding: 16px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E5E9EB;
}
.heading24_bold{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.019em;
  color: #252C32;
  margin: 0px;
}
.heading14_Bold{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.006em;
  text-transform: uppercase;
  color: #84919A;
  margin: 0px;
}

.Text14Reg{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #5B6871;
  margin: 0px;
}
.Text16Reg{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #84919A;
  margin: 0px;
}
.Text14SemiBold{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em; 
  color: #252C32;
  margin: 0px;
}
.Text12Reg{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #6E7C87;
  margin: 0px;
}
.regbtn{
  position: relative;
    left: 19px;
}
.heading18SemiBold{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 5px;
  color: #252C32;
  margin: 0px;
}
.runningTextParagraph_16{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.011em;
  color: #252C32;
  margin: 0px;
}
.runningTextParagraphgray_16{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.011em;
  color: #5B6871;
  margin: 0px;
}

.search_form input{
  background: #F6F8F9;
  width: 728px;
  height: 32px;
  border: 1px solid #DDE2E4;
  border-radius: 6px 0px 0px 6px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  border-right: unset !important;
  color: #9AA6AC;
  outline: unset;
  padding: 0px 12px;
}
.search_form  .input_group{
  position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.inputgroup_append{
      margin-left: -1px;
    display: -ms-flexbox;
    display: flex;
}

.search_form .input_group_text{
  background-color: #F6F8F9;
  border-left: unset !important;
  border:1px solid #DDE2E4;
  border-radius: 0px 6px 6px 0px;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding:0px 8px;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
}
.search_form input::placeholder{
  color: #9AA6AC;
}
.select_dropdown_icon{
  position: relative;
    display: flex;
    // flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.select_dropdown_icon select{
      font-family: "Roboto", sans-serif;
    background: #FFFFFF;
    border: 1px solid #DDE2E4;
    border-radius: 0px 6px 6px 0px;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.006em;
    color: #252C32;
    padding: 0px 16px;
    outline: unset;
    border-left: unset;
    width: 100%;
}
.select_dropdown_icon .inputGroup_text {
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 8px;
    height: 40px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #DDE2E4;
    border-radius: 6px  0px 0px 6px;
    border-right: unset;
}


.Filters_sec{
  background: #EEF0F2;
  padding: 16px;
  display: flex;
  align-items: center;
}
.Table_wrapper table{
  margin: 0px;
  border-spacing: 0px;
  width: 100%;
}
.Table_wrapper table thead th{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #252C32;
  padding: 8px 16px;
  text-align: left;
  border-bottom: 1px solid #E5E9EB;
}
.Table_wrapper table tbody td{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #252C32;
  padding:16px;
  border-bottom: 1px solid #E5E9EB;
}

.extratable_td{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #252C32;
    // padding: 8px;
    margin: 0px;
  }

ol.bread_crumb {
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.bread_crumb li.active {
    color: #252C32;
    font-weight: 500;
}
.bread_crumb li {
  padding-right: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #6E7C87;
      display: flex;
    align-items: center;
    cursor: pointer;
}
.bread_crumb li::after{
  content: "";
  display: inline-block;
  background: url("/images/chevron_left.svg");
  background-repeat: no-repeat;
  width: 4.5px;
  height: 9px;
  padding: 10px 6px;
  /* background-position: center; */
  margin: 0px 12px;
}
.bread_crumb li:last-child::after{
  content: unset;
}
.bread_crumb li:last-child{
  padding-right: 0px;
}
.divider_issue{
  display: flex;
}

.issue_information{
  background: #F6F8F9;
  width: 320px;
  // padding: 16px;
  min-height: 100vh;
}
.issue_review{
  // padding: 16px;
  width: calc(100% - 320px);
}

.image_parent{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.imagePlaceholder{
  width: 96px;
  height: 96px;
  background: #EEF0F2;
border-radius: 6px;
}
.information_table table{
  width: 100%;
  margin: 0px;
  border-collapse: initial !important;
  border-spacing: 0px 8px;
}
 .information_table table tr td{
    padding: 16px 12px;
     border-top: 1px solid #E5E9EB;
    border-bottom: 1px solid #E5E9EB;
}
.information_table table tr td:first-child{
  border-left: 1px solid #E5E9EB;
      border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.information_table table tr td:last-child{
   border-right: 1px solid #E5E9EB;
       border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.information_table table tr:last-child td:last-child{
  border-right: 1px solid #E5E9EB;
       border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.fullFrame{
     display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

      input[type="text"]#subdomaintwo{
        -webkit-appearance: none!important;
        color: red;
        text-align: right;
        width: 41%;
        border: 1px solid #DDE2E4;
        border-left: none;
        margin: 0 0 0 -7px;
        background: white;
      }
      input[type="text"]#subdomain{
        -webkit-appearance: none!important;
        border: 1px solid #DDE2E4;
        width: 60%;
        border-right: 0px;
        outline: none;
      }

.leftsidecontent{
  // width: 720px;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
}
.leftsidecontent img {
  padding-top: 70px;
  width: 100%;
  height: 100%;
}
.rightsidecontent{
  // width: calc(720px - 100%);
      -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
}

.center_align {
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-bottom: 61px;
  padding-top: 150px;
}
.accountFrame{
  width: 344px;
  margin: auto;
}
.regpage{
 background:white;
 padding-top:100px;
}

.account_sec{

  background: #FFFFFF;
  border-radius: 6px 6px 0px 0px;
  left: 330px;
  position: absolute;
}

.confirmationFrame{
  padding: 24px;
   box-shadow: 0px 0px 1px rgba(26, 32, 36, 0.32), 0px 40px 64px rgba(91, 104, 113, 0.24);
    background: #FFFFFF;
border-radius: 6px;
}

.logo_section{
  margin-bottom: 42px;
  text-align: center;
}
.logo_section img{
  width: 200px;
}
.Social_sec{
  background: #F6F8F9;
  // border: 1px solid #E5E9EB;
  border-radius: 0px 0px 6px 6px;
   box-shadow: 0px 0px 1px rgba(26, 32, 36, 0.32), 0px 40px 64px rgba(91, 104, 113, 0.24);
  padding: 32px;
}
.socialconnect_btn{
  padding: 8px 16px;
  height: 40px; 
  background: #FFFFFF;
  border: 1px solid #DDE2E4;
  border-radius: 6px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #252C32;
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
// .ergonomia_logo{
//   margin-top: 100px;
// }
.ergonomia_logo img{
  width: 144px;
}

a.language_selector{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.018em;
  text-transform: uppercase;
  color: #5B6871;
  display: flex;
  align-items: center;
  text-decoration: unset;
}
a.language_selector img{
    width: 20px;
    height: 15px;
}

.due_date img{
  filter: brightness(0) saturate(100%) invert(14%) sepia(74%) saturate(5124%) hue-rotate(356deg) brightness(85%) contrast(105%);
}
.due_date h5 , .due_date h4{
  color: #CC0905 !important;
}

.comments_sec{
  border: 1px solid #DDE2E4;
  border-radius: 4px;
}

.comments_item{
  padding: 24px;
  border-bottom: 1px solid #DDE2E4;
}
.comments_item:last-child{
  border-bottom: unset;
}

.VisitsTabBar ul{
  display: flex;
  margin: 0px;
  list-style: none;
  padding: 0px;
  align-items: center;
}
.VisitsTabBar ul li{
  margin-right: 24px;
}
.VisitsTabBar ul li:last-child{
  margin-right: 0px;
}
.VisitsTabBar ul li a{
  height: 38px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  text-decoration: unset;
  color: #252C32;
  display: inline-flex;
    align-items: center;
    gap: 8px;
        -webkit-transition: all 600ms linear 0s;
    -o-transition: all 600ms linear 0s;
    transition: all 600ms linear 0s;
    position: relative;
 }
.VisitsTabBar ul li a span{
  background: #E5E9EB;
    border-radius: 12px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
letter-spacing: -0.006em;
color: #1A2024; 

}

.VisitsTabBar ul li a:hover:after, .VisitsTabBar ul li a.active:after {
    width: 100%;
}
.VisitsTabBar ul li a::after {
 content: "";
    height: 2px;
    background: #252C32;
    position: absolute;
    left: 0px;
    bottom: -8px;
    width: 0px;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.VisitsTabBar ul li a::before {
    content: "";
    height: 2px;
    background: #DDE2E4;
    position: absolute;
    left: 0px;
    bottom: -8px;
    width: 100%;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.VisitsTabBar ul li a:hover, .VisitsTabBar ul li a.active {
  color: #252C32;
}

.Editable_text{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.014em;
  display: block;
}
.priorities_green{
padding:0px 8px;
height: 40px;
background: #22C348;
border: 1px solid #22C348;
border-radius: 4px;
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: -0.006em;
color: #FFFFFF;
display: flex;
align-items: center;
outline: unset;
}
.priorities_green:hover{
background: transparent;
color: #22C348;
border: 1px solid #22C348;
}
.priorities_yellow{
padding:0px 8px;
height: 40px;
background: #F8C51B;
border-radius: 4px;
border: 1px solid #F8C51B;
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: -0.006em;
color: #FFFFFF;
display: flex;
align-items: center;
outline: unset;
}
.priorities_yellow:hover{
background: transparent;
color: #F8C51B;
border: 1px solid #F8C51B;
}
.priorities_red{
padding:0px 8px;
height: 40px;
background: #CC0905;
border: 1px solid #CC0905;
border-radius: 4px;
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: -0.006em;
color: #FFFFFF;
display: flex;
align-items: center;
outline: unset;
}
.priorities_red:hover{
background: transparent;
color: #CC0905;
border: 1px solid #CC0905;
}
.Spreadsheet_wrapper table{
  width: 100%;
  border-collapse: separate;
  border: 1px solid #DDE2E4;
  border-radius: 4px;
  border-spacing: 0px;
  margin: 0px;
}
.Spreadsheet_wrapper table th{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #252C32;
  padding: 8px;
  border-bottom: 1px solid #E5E9EB;
}
.Spreadsheet_wrapper table td{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #252C32;
    padding: 19.5px 8px;

  border-bottom: 1px solid #E5E9EB;
}
.Spreadsheet_wrapper table tr:last-child td{
border-bottom:unset;
}

.modal-dialog{
  // max-width: 560px !important;
  max-width: 720px !important;

}
.modal-header{
  padding:24px !important;
  border-bottom: 1px solid #E5E9EB !important;
}
.modal-footer{
   border-top: 1px solid #E5E9EB !important;
   padding: 16px 24px !important;
}
.modal-body{
  padding: 24px!important;
}
.btn-close{
  padding: 0px !important;
  filter: brightness(0) saturate(100%) invert(13%) sepia(27%) saturate(5634%) hue-rotate(208deg) brightness(96%) contrast(111%);
}
.modal-header .btn-close:focus{
  box-shadow: unset;
}
a.user_profile{
  display: block;
}
a.user_profile img{
  width: 40px;
  height: 40px;
  border: 1px solid #FCFCFC;
}
.modal-footer>*{
  margin: 0px;
}
/*mobile 767*/
@media (max-width: 767px) {

  .mobspace_mb16{
    margin-bottom: 16px;
  }
  .Desktopflex_Mobileblock{
    display: block;
  }
  .width_440{
    width: 100%;
  }
  .width_340{
    width: 100%;
  }
  .page_wrapper{
    display: block;
  }
  .top_header{
    display: block;
  }
  .Filters_sec{
    display: block;
  }
  .ActionBar{
    display: block;
  }
  .content_wrapper{
    width: 100%;
  }
  .sidebar_wrapper{
    width: 100%;
  }
  .Table_responsive{
    width: 100%;
    overflow: auto;
    white-space: nowrap;
  }

  .Table_responsive::-webkit-scrollbar {
    background: #f4f5f7;
    border-radius: 30px;
    width: 6px;
    height: 6px;
  }

  .Table_responsive::-webkit-scrollbar-thumb:hover {
    background: #555;
    background: #D93A49;
      border-radius: 30px;
  }
  .Table_responsive::-webkit-scrollbar-thumb {
    background: #D93A49;
    border-radius: 30px;
    margin-top:16px;
  }
  .fullFrame{
    display: block;
  }
  .leftsidecontent{
    display: none;
  }
  .rightsidecontent , .leftsidecontent{
        max-width: 100%;
  }
  .center_align{
    padding-bottom: 0px;
  }
  .ergonomia_logo{
    margin: 50px 0px;
  }
  .page_info{
    display: block;
  }
  .divider_issue{
  display: flex;
    flex-direction: column-reverse;
  }
  .issue_information{
    width: 100%;
  }
  .issue_review{
    width: 100%;
  }
  ol.bread_crumb{
    display: block;
  }
  .bread_crumb li{
    padding-right: 0px;
    margin-bottom: 16px;
  }
  .bread_crumb li::after{
    content: unset;
  }

  
}


/*tablet 768-991*/
@media (min-width: 768px) and (max-width: 991px) {
.center_align{
  padding: 0px;
}
.ergonomia_logo{
  padding-top: 40px;
}
}


/*system 992-1200*/
@media (min-width: 992px) and (max-width: 1200px) {

}